body {
    min-height: 90vh;
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font: size 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#84a59d;
  }
p, h4{
  color: #2e424d;
    font-weight: 600;
}

  .tittle,
  .credits {
    color: #2e424d;
    text-align: center;
    text-transform: uppercase;
  }

  .content * {
    margin: auto;
    padding: 15vh 150px;
    background-position: center;
    background-size: cover;
  }
  .content {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .tittle{
      font-size: 1.8rem;
  }
  .credits p{
      font-size: 1.5rem;
      font-weight: 700;
  }
  .footer {
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration:wavy;
  }
/* code for text selection property */
::selection{
  background: #f6bd60;
 color: #05abc4;
}

/* code for blend mode */

.one{
    background-color:brown;
    background-image:url(beautiful-pink-cosmos-flower.jpg);
    background-blend-mode: screen;
}
.two{
    background-color:brown;
    background-image:url(beautiful-pink-cosmos-flower.jpg);
    background-blend-mode:overlay;
}
.three{
     background-color:brown;
    background-image:url(beautiful-pink-cosmos-flower.jpg);
    background-blend-mode:multiply;
}
.four{
     background-color:brown;
    background-image:url(beautiful-pink-cosmos-flower.jpg);
    background-blend-mode:darken;
}
.five{
     background-color:brown;
    background-image:url(beautiful-pink-cosmos-flower.jpg);
    background-blend-mode:color;
}
.six{
     background-color:brown;
    background-image:url(beautiful-pink-cosmos-flower.jpg);
    background-blend-mode:luminosity;
}