.wrapper{
 background-color: #DAB89D;
 /* display: flex;
 flex-direction: row; */
 padding:10px;
 text-align: center;
 min-height: 100vh;
}
.separable, .non-separable
{
     display: flex;
   flex-direction: row;
}
.demo, .demo-1, .demo-2, .demo-3, .demo-4, .demo-5, .demo-6{
 text-align: center;
 
}
img{
     width: 300px;
 height: 300px;
}
h4{
    color: #fff;
}

/* code for mix blend mode */

/* non-separable mix blend mode */

h1{
    text-align: center;
    color: #fff;
    font: weight 700px;
    
}
.demo-1 img{
    padding-left:10px;
    mix-blend-mode: difference;
}
.demo-2 img{
    padding-left:10px;
    mix-blend-mode: multiply;
}
.demo-3 img{
    padding-left:10px;
    mix-blend-mode: exclusion;
}

/* non-separable mix blend mode */
.demo-4 img{
    padding-left:10px;
    mix-blend-mode: hue;
}
.demo-5 img{
    padding-left:10px;
    mix-blend-mode: luminosity;
}
.demo-6 img{
    padding-left:10px;
    mix-blend-mode: Saturation;
}